#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#myCarousel{
background-color: chartreuse;
}

#myCarousel img{
width: 350px;
height: 350px;
}